* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: white;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.sec1 {
    height: 100vh;
    width: 100%;
    background-image: url(images/main_bg.jpg);
    background-size: cover;
}

#main_heading {
    padding-top: 1.5rem;
    margin: 0rem 2rem 0 14rem;
    font-family: 'Bona Nova', serif;
    font-size: 2rem;
}

.nav_list {
    font-weight: 600;
    position: absolute;
    right: 10rem;
    top: 1rem;
}

.nav_list ul {
    display: flex;
    list-style: none;
}

.nav_list li {
    margin: 1.3rem;
    cursor: pointer;
    transition: 0.3s;
}

.nav_list li:hover {
    color: #8389A3;
}

.sec1_container {
    margin: 8rem 5rem 8rem 14rem;
    font-family: 'Quicksand', sans-serif;
}

.heading {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.2rem;
    font-weight: bolder;
}

.sec1_subheading {
    font-size: 2rem;
    font-weight: lighter;
    margin: 1rem 0 1rem 0;
}

.button {
    box-shadow: 3px black;
    margin-right: 14px;
    margin-top: 1rem;
    color: black;
    font-family: 'Open Sans', sans-serif;
    width: 150px;
    height: 50px;
    font-weight: 800;
    font-size: 16px;
    background-color: #d8dce9;
    transition: 0.3s;
    border-radius: 10px;
}

.button:hover {
    background-color: #8389A3;
}

.sec2 {
    height: 100vh;
    background-color: #1C1713;
    text-align: center;
    margin-bottom: -3rem;
}

#sec2_heading {
    padding-top: 2rem;
}

.sec2_subheading {
    line-height: 30px;
    font-size: larger;
    margin: 3rem 0rem 0rem 27rem;
    text-align: left;
    color: #d8dce9;
}

#umbrella {
    color: white;
    font-size: 10rem;
    position: relative;
    left: 27rem;
    top: -10rem;
}

.sec2_container {
    display: inline-block;
    text-align: left;
    margin: -8rem 0rem 6rem 15rem;
    height: 200px;
}

.sec2_icons {
    padding-left: 5rem;
    font-size: 2.5rem;
}

.sec2_icons i {
    margin-right: 9rem;
}

.icon_desc {
    display: inline-block;
    text-align: center;
    width: 180px;
    margin-right: 1rem;
    margin-top: 1rem;
}

.icon_desc_list {
    padding-right: 10rem;
}

.sec2_buttons {
    margin-left: 1.3rem;
}

.sec2_buttons button {
    margin-right: 3rem;
}

hr.sec_divider {
    border: 1px dashed grey;
}

.sec3 {
    height: 100vh;
    background-color: #1C1713;
    /* padding-top: 2rem; */
}

#sec3_heading {
    text-align: center;
}

.project_container {
    display: flex;
    margin: 1rem 0 0 4rem;
    width: 90%;
    height: 39rem;
    border-radius: 10px;
}

.project_subcont {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.158);
    transition: 0.4s;
}

.project_subcont:hover {
    background-color: #212224;
}

.project_subcont img {
    margin-top: -1rem;
    border-radius: 10px;
    width: 19rem;
    transition: 1s;
    transform: scale(0.8);
    margin-bottom: -2rem;
}

.project_subcont img:hover {
    transform: scale(0.9);
}

.proj_heading h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}

.proj_heading h5 {
    font-weight: 100;
    font-size: 0.9rem;
    /* margin-bottom: -1rem; */
}

.proj_heading {
    margin: 0 0.5rem -1rem 0.5rem;
}

.sec4 {
    height: 80vh;
    background-color: #1C1713;
    /* margin-bottom: -10rem; */
}

#sec4_heading {
    text-align: center;
    padding-top: 2rem;
}

.plans_container {
    width: 50rem;
    margin-top: 2rem;
    display: flex;
    padding-left: 27%;
}

.plans_subcontainer {
    margin-right: 3rem;
    text-align: center;
}

.plans_subcontainer li {
    margin-top: 8px;
    list-style: none;
}

.sec5 {
    height: 100vh;
    color: white;
    background-color: rgba(17, 14, 14, 0.925);
}

#sec5_heading {
    padding-top: 2rem;
    text-align: center;
    font-size: 3rem;
}

.video_container {
    margin-top: 4%;
    margin-left: 28%;
    height: 70vh;
    width: 600px;
    /* overflow: hidden; */
}

.video_carousel {
    display: flex;
}

#next {
    position: relative;
    top: -3rem;
}

#prev {
    position: relative;
    top: -3rem;
}

.vid-btn {
    color: black;
    /* margin-top: -0.3rem; */
    width: 200px;
    height: 50px;
    padding-bottom: 10px;
}

.sec6 {
    height: 100vh;
    background-color: #1C1713;
    padding: 2rem;
}

#sec6_heading {
    text-align: center;
}

.dp_container img {
    width: 10rem;
    /* height: 10rem; */
    border-radius: 100%;
}